/* CSS declarations go here */
 
header.chat {
  background: #ffffff;
  padding: 20px 15px 15px 15px;
  position: relative;
}
 
#login-buttons {
  display: block;
}
 
h1.chat {
  font-size: 1.5em;
  margin: 0;
  margin-bottom: 10px;
  display: inline-block;
  margin-right: 1em;
}

form {
    position: relative;
}

.new-msg input {
    box-sizing: border-box;
    padding: 10px 20px;
    border: none;
    width: 100%;
    padding-right: 80px;
    font-size: 1em;
}

.user-name input {
    padding: 10px 15px;
    border: none;
    width: 100%;
    color: black;
    font-weight: bold;
    border-right: #ccc solid 1px;
}

.new-msg input:focus{
    outline: 0;
}
.user-name input:focus{
    outline: 0;
}


header .hide-completed {
  float: right;
}
 
.toggle-private {
  margin-left: 5px;
}

li.chat {
    background-color: #cccccc;
    position: relative;
    list-style: none;
    padding: 15px;
    border-bottom: #eee solid 1px;
}

li.me {
    background-color: #A6E0C7;
}

li.other {
    background-color: #D8E7F3;
}

td.msg-text {
    padding-left: 20px;
}

td.user {
    width: 10%;
    font-weight: bold;
    font-family: "Arial";
    border-right: #eee solid 1px;
}

td.msg-timestamp {
    color: #c8bcac;
}

li.me td.user {
    color: #2F8F66;
}

li.other td.user {
    color: #326286;
}
