/* CSS declarations go here */

body {
    background-image: url(https://wallpaperscraft.com/image/speed_line_shadow_dark_38158_1920x1200.jpg);
    background-size: cover;
}
div.transbox {
    margin: 5%;
    background-color: #ffffff;
    opacity: 0.8;
    filter: alpha(opacity=80);
}
div.transbox p {
    margin: 10px;
    color: #000000;
}

div.chatbox {
    width: 100%;
}

div.creditbox
{
    display: block;
}

div.creditbox img
{
    width: 100px;
    height: 100px;
}

div.credit
{
    display: inline;
    padding-left: 5px;
    padding-right: 5px;
}

h1 {
    text-align: center;
    margin: 5px;

}

h2 {
    text-align: center;
    font-size: 1.4em;    
}

ul.chat {
    margin: 0;
    padding: 0;
    background: white;
}

script[type="text/html"] {
    display:block;
}

bold {
    font-weight: bold;
}

div.caption {
    font-style: italic;
    color: #a4a4a4;
    
}
