<body>
  <div class="container">
    <header>
      <h1>Chat</h1>

    </header>

    <ul>
      {{#each chatlog}}
      {{> message}}
      {{/each}}
    </ul>
  </div>

  <footer>
    <form class="new-tasks">
      <input type="text" name="text" placeholder="Type to write a message" />
    </form>
  </footer>
</body>

<template name="message">
  <li>{{text}}</li>
</template>
