<template name="page">
  <div class="background">
    <div class="container">
      <div class="chat-box">
	<header class="chat">
	  <h1>Chat</h1>
	</header>
	
	<ul class="chat">
	  {{#each chatlog}}
	  {{> message}}
	  {{/each}}
	</ul>
	
	<table>
	  <td style="width:10%;">
	    <form class="user-name">
	      <input type="text" id="username" name="user" placeholder="username" autocomplete="off"/>
	    </form>
	  </td>
	  <td style="width:80%;">
	    <form class="new-msg">
	      <input type="text" name="text" placeholder="Type to write a message" autocomplete="off"/>
	    </form>
	  </td>
	</table>
	</div>
    </div>
  </div>
</template>

<template name="message">
  <li class={{selectClass user}}>

    <table style="width: 100%;">
      <td class="user">
	{{user}}
      </td>
      <td class="msg-text">
	{{text}}
      </td>
      
      <td align="right" class="msg-timestamp">
	{{getTime createdAt}}
      </td>
    </table>
  </li>

</template>
