<template name="tutorial_01">
  <div class="background">
    <div class="transbox">
      <div class="container-fluid">
	<h1>Tutorial</h1>
	<h2>1 - HTML</h2>
	<p>
	  In this tutorial we will create a simple chat app. Basic JavaScript knowledge is recommended in order to begin.
	</p>
	<p>
	  First let's begin by writing our HTML code
	</p>
<div class="caption">main.html</div>
	<pre>
&lt;head>
  &lt;title>Chat&lt;/title>
&lt;/head>{{_}}

&lt;body&gt;
  &lt;div class="container"&gt;
    &lt;header class="chat"&gt;
      &lt;h1&gt;Chat&lt;/h1&gt;
    &lt;/header&gt;

    &lt;ul class="chat"&gt;
      &#123;&#123;#each chatlog}}
      &#123;&#123;&gt; message}}
      &#123;&#123;/each}}
      &lt;/ul&gt;
  &lt;/div&gt;
&lt;/body&gt;


&lt;template name="message"&gt; 
  &lt;li class=&#123;&#123;selectClass user}}&gt; 

    &lt;table style="width: 100%;"&gt; 
      &lt;td class="user"&gt; 
	&#123;&#123;user}} 
      &lt;/td&gt;

      &lt;td class="msg-text"&gt; 
	&#123;&#123;text}} 
      &lt;/td&gt; 

      &lt;td align="right" class="msg-timestamp"&gt; 
	&#123;&#123;getTime createdAt}} 
      &lt;/td&gt; 
    &lt;/table&gt; 
  &lt;/li&gt; 
&lt;/template&gt; 
	</pre>
	<br>

	<p>
	  We should all be familiar with regular HTML tags such as <code>&lt;head&gt;</code>
	</p>

	<bold>Body Tags</bold>
	<p>
	  <code>&lt;body&gt;</code> tags can be referenced by JavaScript with <code>Template.body</code>. It is a special case template that doesn't need to be explicitly defined.
	  <br>
	</p>
	<bold>Templates</bold>
	<p>
	  The <code>&lt;template></code> tag is special to meteor. It is a bit of html code that can be referenced by JavaScript and other parts of html. It allows for dynamically and easily changing the HTML part of the code to make it work however you want.
	  It can be referenced by HTML with <code> &#123;&#123;> templateName}}</code> or in JavaScript with <code>Template.templateName</code>
	</p>

	<bold>Logic</bold>
	<p>
	  Meteor uses it's own language called spacebars which has syntax that allows you to define logic in your HTML files. Spacebars uses double curly braces surrounding statements such as <code>&#123;&#123;#each}}</code> and <code>&#123;&#123;#if}}</code>. In our case, we use <code>&#123;&#123;#each chatlog}}</code> to iterate over each element in the array returned by chatlog, and display the contents with <code>&#123;&#123;&gt; message}}</code>.
	</p>

	<p>
	  As you can see by the syntax, <code>&#123;&#123;&gt; message}}</code> is referencing the template we created. The contents of each array element we retrieve from chatlog gets passed along to the message template and formatted nicely.
	</p>
	
	<a class="pull-right" href="#tutorial_02" id="tutorial_02">Next (CSS)</a>
	<br><br>
      </div>
    </div>
  </div>
</template>

<template name="tutorial_02">
  <div class="background">
    <div class="transbox">
      <div class="container-fluid">
	<h1>Tutorial</h1>
	<h2>2 - CSS</h2>
	<p>The following is the CSS we will be using</p>
	<pre>
header.chat {
  background: #ffffff;
  padding: 20px 15px 15px 15px;
  position: relative;
}
 
#login-buttons {
  display: block;
}
 
h1.chat {
  font-size: 1.5em;
  margin: 0;
  margin-bottom: 10px;
  display: inline-block;
  margin-right: 1em;
}

form {
    position: relative;
}

.new-msg input {
    box-sizing: border-box;
    padding: 10px 20px;
    border: none;
    width: 100%;
    padding-right: 80px;
    font-size: 1em;
}

.user-name input {
    padding: 10px 15px;
    border: none;
    width: 100%;
    color: black;
    font-weight: bold;
    border-right: #ccc solid 1px;
}

.new-msg input:focus{
    outline: 0;
}
.user-name input:focus{
    outline: 0;
}


header .hide-completed {
  float: right;
}
 
.toggle-private {
  margin-left: 5px;
}

li.chat {
    background-color: #cccccc;
    position: relative;
    list-style: none;
    padding: 15px;
    border-bottom: #eee solid 1px;
}

li.me {
    background-color: #A6E0C7;
}

li.other {
    background-color: #D8E7F3;
}

td.msg-text {
    padding-left: 20px;
}

td.user {
    width: 10%;
    font-weight: bold;
    font-family: "Arial";
    border-right: #eee solid 1px;
}

td.msg-timestamp {
    color: #c8bcac;
}

li.me td.user {
    color: #2F8F66;
}

li.other td.user {
    color: #326286;
}

	</pre>
	<a class="pull-left" href="#tutorial" id="tutorial_page">Previous (HTML)</a>
	<a class="pull-right" href="#tutorial_03" id="tutorial_03">Next (JavaScript)</a>
	<br><br>
      </div>
    </div>
  </div>
</template>

<template name="tutorial_03">
  <div class="background">
    <div class="transbox">
      <div class="container-fluid">
	<h1>Tutorial</h1>
	<h2>3 - JavaScript</h2>
	<p>Now let's take a look at the JavaScript we will need to implement to make the HTML portion work correctly.</p>
	<div class="caption">api/chat.js</div>
	<pre>
import { Mongo } from 'meteor/mongo';

export const ChatLog = new Mongo.Collection('chatlog');
	</pre>
	<p>In the above code we just have two simple lines. The first simply tells the compiler that we'll be using MongoDB for our project.</p>
	<p>The second line of code creates a new MongoDB Collection and we'll be calling it ChatLog. This will be referenced in the next part of the code. All it does is allow us to interface with the our mongo database on the backend.
	</p>

	<div class="caption">main.js</div>
	<pre>
import { Template } from 'meteor/templating';
import { ChatLog } from '../api/chat.js';
import './main.html';

Template.body.helpers ({
    chatlog: function() {
	return ChatLog.find({}, { sort: { createdAt: -1 }, limit: 10 } ).fetch().reverse();
    },
});

Template.message.helpers ({
    getTime: function(timedate) {
	return timedate.toLocaleTimeString()
    },
    selectClass: function(user) {

	try {
            const thisUserField = document.getElementById(username);
	}
	catch(err){
            return "chat";
	}
        const myUser = username.value;
	if( myUser == '' )
            return "chat";
	if( myUser == user) 
            return "me chat";
	else
            return "other chat";
    },
});

	</pre>
	<p>
	  In the above code, we've created two sets of Template helper functions. The first contains a helper for the body, <code> chatlog </code>, which returns a portion of the MongoDB collection we created in the first bit of code at the top. Specifically, ChatLog is imported in the imports section at the very top. Then <code>ChatLog.find()</code> is called which returns the collection with some parameters. The first paramter specifies the selection filter using query operators. Since we aren't picky about the contents of the messages that we want to display, we'll pass in <code>{}</code> to return all messages in the collection. The second parameter specifies which fields to rutern. We can use it to pass in <code>{ sort: { createdAt: -1 }, limit: 10 }</code>. This will sort the messages based on the createdAt field, which will sort them in chronologically decscending order and <code>limit: 10</code> will only return the first 10 of entries. We pass run the <code>fetch()</code> function on the collection object to get back an array, which we then run the <code>reverse()</code> method on to reverse the order of the array so the newest message appears last. This is important when <code> chatlog()</code> is called by the SpaceBars part of the code in our HTML as <code>&#123;{#each chatlog}}</code> will walk through each array element in order and we want the newest message to be displayed at the bottom.
	</p>

	<p> The second set of helper functions is for our message template we defined earlier. The first function is <code>getTime</code>. All it does is take a DateTime object that we stored in our collection, and converts it into a simple time string in HH:MM:SS format.
	</p>
	<p> <code>selectClass</code> takes the username provided by the collection corresponding to a message and compares it to the username field in our form (which we will add in the next section) in order to decide what class that message belongs to. That way the messages can easily be coloured differently depending on if the message is your own or someone elses.
	</p>

	<a class="pull-left" href="#tutorial" id="tutorial_02">Previous (CSS)</a>


	<br><br>
      </div>
    </div>
  </div>
</template>

<template name="tutorial_04">
  <div class="background">
    <div class="transbox">
      <div class="container-fluid">
	<h1>Tutorial</h1>
	<h2>4 - Forms</h2>
	<p>Secondly, we will make some modifications to the code.</p>
	<a class="pull-left" href="#tutorial_03" id="tutorial_03">Previous (JavaScript)</a>
	<a class="pull-right" href="#tutorial_05" id="tutorial_05">Next</a>
	<br><br>
      </div>
    </div>
  </div>
</template>

<template name="tutorial_05">
  <div class="background">
    <div class="transbox">
      <div class="container-fluid">
	<h1>Tutorial</h1>
	<h2>5</h2>
	<p>Secondly, we will make some modifications to the code.</p>
	<a class="pull-left" href="#tutorial_04" id="tutorial_04">Previous</a>
	<br><br>
      </div>
    </div>
  </div>
</template>
